body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

.imagehead h1 {
    color: white;
    font-size: 4em; 
}

.imagehead {
    background: url('spraying.jpg') center/cover no-repeat; /* Adjust the path to your image */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; /* Center the text */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Set background color to white */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: black; /* Set font color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(169, 210, 255);
    color: black;
}

h3 {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

h3.intro {
    margin: 100px auto; 
}

div h3 {
    margin-top: 100px; 
    background-color: white  
}

h2 {
    text-align: center; 
    padding: 80px;
    margin-bottom: 20px;
}

section {
    text-align: center; 
    background-color: rgb(169, 210, 255);
    padding: 100px; 
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 0;
    max-width: 2000px; 
    margin: 200px auto; /
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    background-size: cover;
    height: 300px; 
}

.box1::after,
.box2::after,
.box3::after,
.box4::after,
.box5::after,
.box6::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}


.box1::after {
    content: none;
}

.box1 {
    background-image: url('cdc-VRpjDw3WqqI-unsplash.jpg');
}

.box2 {
    background-image: url('markus-spiske-wL7pwimB78Q-unsplash.jpg');
}

.box3 {
    background-image: url('oliver-hale-oTvU7Zmteic-unsplash.jpg');
}

.box4 {
    background-image: url('anton-SnKfmC1I9fU-unsplash.jpg');
}

.box5 {
    background-image: url('nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg');
}

.box6 {
    background-image: url('annie-spratt-QckxruozjRg-unsplash.jpg');
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 210, 255);
    color:000;
    text-align: center;
    padding: 200px 0 0; 
    height: 100px;
}

.working-hours-address {
    margin-bottom: 50px; 
}




