
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.imagehead h1 {
    color: white;
    font-size: 4em;
}

.imagehead {
    background: url('spraying.jpg') center/cover no-repeat; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:lightgreen;
    color: black;
}

.navbar .dropdown {
    display: none;
    position: absolute;
    background-color:lightgreen;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown a {
    float: none;
    display: block;
    text-align: left;
}

.navbar:hover .dropdown {
    display: block;
}

h3 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

h3.intro {
    margin: 100px 200px;
}

div h3 {
    margin-top: 20px;
    background-color: lightgreen;
}

h4 {
    padding: 80px;
    margin-bottom: 20px;
}

section {
    background-color:lightgreen;
    padding: 100px;
}

h2 {
    text-align: center;
    color: #000;
    margin: 200px 0;
    padding: 3px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    max-width: 2000px;
    margin: 200px auto;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    background-size: cover;
    height: 300px;
}

.box1::after,
.box2::after,
.box3::after,
.box4::after,
.box5::after,
.box6::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}

.box1::after {
    content: none;
}

.box1 {
    background-image: url('cdc-VRpjDw3WqqI-unsplash.jpg');
}

.box2 {
    background-image: url('markus-spiske-wL7pwimB78Q-unsplash.jpg');
}

.box3 {
    background-image: url('oliver-hale-oTvU7Zmteic-unsplash.jpg');
}

.box4 {
    background-image: url('anton-SnKfmC1I9fU-unsplash.jpg');
}

.box5 {
    background-image: url('nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg');
}

.box6 {
    background-image: url('annie-spratt-QckxruozjRg-unsplash.jpg');
}

.contact-us {
    display: flex;
    justify-content: center;
}

.contact-button {
    background-color: #fff;
    border: 2px solidlightgreen;
    color: lightgreen;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.card {
    width: 300px;
    background-color: lightgreen; /* Set the desired background color here */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  .card h3 {
    margin-top: 0;
    font-size: 18px;
    color: black;
  }
  
  .card p {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
  }
  
  .card a {
    display: inline-block;
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
  }

.contact-button:hover {
    background-color:lightgreen;
    color: #fff;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color:lightgreen;
    color: black;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.working-hours-address {
    margin-bottom: 20px; 
}

.contact-us button {
    margin: 10px;
}




